* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
}

.mdl-layout__tab-bar {
    width: calc(100% - 120px);
}

.text-center {
	text-align: center;
}

.clearfix {
	content: "";
	display: table;
	clear: both;
}

.mdl-layout__drawer .mdl-navigation__link {
	color: #444 !important;
	font-size: 18px;
}

.mdl-layout__drawer .mdl-navigation__link i {
	float: left;
	color: #666;
	margin-right: 10px;
}

.form-full-width {
	padding: 15px 15px;
}

.form-full-width .mdl-textfield {
	width: 100%;
}

.form-full-width .actions {
	margin-top: 15px;
}

.mdl-textfield-checkbox {
	padding-top: 5px;
}

.prateleira-icon-spacer {
	display: inline-block;
	float: left;
	width: 34px;
	height: 5px;
}